{% extends "base.html" %}
{% block title %}Dashboard | ISP Management System{% endblock title %}
{% block body %}
    <p>Dashboard</p>
    <div class = "flex flex-col items-center justify-center">
        <h1>{{request.user.username}}</h1>
        <h1>{{request.user.email}}</h1>
        <a href="{% url "account_change_password" %}">Password Change</a>
        <a href="{% url "account_logout" %}">Logout</a>
        <a href="{% url "account_inactive" %}">Inactive Account</a>
        <a href="{% url "account_email" %}">Change Email</a>
        <a href="{% url "customer:cmr_list" %}">Customers</a>
        <a href="{% url "customer:pkg_list" %}">Packages</a>
        <a href="{% url "customer:ar_list" %}">Areas</a>
        <a href="{% url "subs:plans" %}">Explore Plans</a>


        <div class="text-xl font-semibold text-center my-2 flex items-center justify-center gap-4">
            <h1>Plan</h1>
            {% if request.user.subscription.plan %}
            <h3> {{request.user.subscription.plan}}</h3>
            {% else %}
            <h3>No Plan Activated</h3>
            {% endif %}
        </div>

        {% if request.user.subscription.is_active %}
        <a href="{% url "subs:upd_sub" request.user.subscription.id%}">Update Plan</a>
        {% else %}
        <a href="{% url "subs:plans" %}">Subscription</a>
        {% endif %}
    </div>
{% endblock body %}