{% extends "base.html" %}
{% block title %}Mikrotik Management{% endblock title %}
{% block body %}


{% for usr  in users  %}

{{usr}}

{% endfor %}


{% comment %} <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
        <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Network
                </th>
                <th scope="col" class="px-6 py-3">
                    Interface
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Disabled
                </th>
            </tr>
        </thead>
        <tbody>
            {% for usr  in users %}
            <tr class="bg-blue-500 border-b border-blue-400">
                <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                    {{usr.id}}
                </th>
                <td class="px-6 py-4">
                    {{usr.address}}
                </td>
                <td class="px-6 py-4">
                    {{usr.network}}
                </td>
                <td class="px-6 py-4">
                    {{usr.interface}}
                </td>
                
                <td class="px-6 py-4">
                    {{usr.active}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> {% endcomment %}

{% endblock body %}





