{% extends "base.html" %}
{% block title %}Plan List{% endblock title %}
{% block body %}


<div class="my-9">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>


<h1>Plan List</h1>

<a href="{% url "subs:add_sub" %}">Choose a Plan</a>

{% for pln in plans %}

<div class="my-2 flex items-center justify-center gap-4">
    <h1>{{pln.name}}</h1>
    {% if pln == request.user.subscription.plan and request.user.subscription.is_active %}
    <button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Active</button>
    {% endif %}
</div>

{% endfor %}

{% endblock body %}