{% extends "base.html" %}
{% block title %}Customer List{% endblock title %}
{% block body %}

    <div class="m-5 flex flex-col md:flex-row gap-8 border-b-2 py-3 border-red-100 w-full mx-auto items-center justify-center">
        <div class="flex items-center justify-center flex-col md:flex-row">
            <a href="{% url "customer:cmr_add" %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add Customer</a>
            <a href="{% url "customer:cmr_mlist" %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Mikrotik Details</a>
            <a href="{% url "home:home" %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Go Back</a>
        </div>
        <form class="">
            {% csrf_token %}
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" hx-post="{% url "customer:cmr_srch" %}" name="cname"
                       hx-trigger="keyup changed delay:500ms"
                       hx-target="#search-results" class="block  p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Customer" required />

            </div>
        </form>
    </div>
    <div id="search-results" class="left-0  w-full absolute z-10">

    </div>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for cmr in cmrs %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="ps-3">
                        <div class="text-2xl font-semibold">{{cmr.name}}</div>
                    </div>  
                </th>
                
                <td class="px-6 py-4">
                    <a href="{% url "customer:cmr_det" cmr.id %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Details</a>
                </td>
                
                <td class="px-6 py-4">
                    {% if cmr.active %}
                    <div class="flex items-center justify-start">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> 
                        <span>Online</span>
                    </div>                    {% else %}
                    <div class="flex items-center justify-start">
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> 
                        <span>Offline</span>
                    </div>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <form action="{% url "customer:cmr_del" cmr.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete Customer</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>



    


{% endblock body %}





