{% extends "base.html" %}
{% block title %}Mikrotik User List{% endblock title %}
{% block body %}
<div class="relative left-0">
    <table class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
        <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Customer Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Service
                </th>
                <th scope="col" class="px-6 py-3">
                    Profile
                </th>
                <th scope="col" class="px-6 py-3">
                    Disabled
                </th>
                <th scope="col" class="px-6 py-3">
                    last logged out
                </th>
                <th scope="col" class="px-6 py-3">
                    Limit Bytes In
                </th>
                <th scope="col" class="px-6 py-3">
                    Limit Bytes Out
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for cmr in customers %}

                <tr class="bg-blue-500 border-b border-blue-400">
                    <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                        {{cmr.id}}
                    </th>
                    <td class="px-6 py-4">
                        {{cmr.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{cmr.service}}
                    </td>
                    <td class="px-6 py-4">
                        {{cmr.profile}}
                    </td>
                    <td class="px-6 py-4">
                        {{cmr.disabled}}
                    </td>
                    <td class="px-6 py-4">
                        {{cmr.last_logged_out}}
                    </td>
                    <td class="px-6 py-4">
                        {{cmr.limit_bytes_in}}
                    </td>
                    <td class="px-6 py-4">
                        {{cmr.limit_bytes_out}}
                    </td>
                    
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock body %}


