{% extends "base.html" %}
{% block title %}Plan List{% endblock title %}
{% block body %}





    <h1>Plan List</h1>

    {% if not request.user.subscription %}
        <a href="{% url "subs:add_sub" %}">Choose a Plan</a>
    {% else %}
        <a href="{% url "subs:upd_sub" request.user.subscription.id%}">Update Plan</a>
    {% endif %}

    {% for pln in plans %}

        <div class="my-2 flex items-center justify-center gap-4">
            <h1>{{pln.name}}</h1>
            {% if pln == request.user.subscription.plan and request.user.subscription.is_active %}
                <button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Active</button>
            {% endif %}
        </div>

    {% endfor %}

{% endblock body %}